@model Book

@{
    ViewData["Title"] = "Подробнее о книге";

    string booktext = "";
    string file = "Data/Texts/" + @Model.Name + ".txt";
    if (File.Exists(file)) booktext = string.Join(" ", File.ReadLines(file).Take(3));
}


<form>
    <p>
        <label>Название</label> <input type="text" value="@Model.Name" style="width:auto;" name="Name"/>
        <label>Автор</label> <input type="text" value="@Model.Author" style="width:auto;" name="Author" />
        <label>Жанр</label> <input type="text" value="@Model.Genre" style="width:auto;" name="Genre" />
    </p>
    <div style="display:flex; flex-direction:row">
        <p>
            <label>Текст</label><br />
            <textarea style="height:400px; width:800px; margin-inline:60px;"
            @* value="@booktext" *@
            name="bookText"
            rows="10" cols="50">@booktext</textarea>

            @* <input type="text"  /><br /> *@

        <div class="w-30">
            <p>
                <label>Текущее описание сюжета</label><br />
                <input type="text" style="width:350px; height:200px;" value="@Model.Description" name="Description"/>
            </p>
            
        </div>
    </div>

    <button class="btn btn-outline-success"
            type="submit"
            asp-controller="Book"
            asp-action="Save"
            asp-route-Id="@Model.Id">Сохранить изменения </button>
    
</form>

<p>
    <label>Изображение-обложка</label><br />
    <img src="@Model.PathImage" style="width:350px; height:350px; margin:30px;" />

    <form>
        <button type="submit" asp-controller="Book" asp-action="ChangeImage" asp-route-id="@Model.Id">Заменить изображение:</button>
        <input placeholder="Ссылка на изображение" name="PathImage" />
    </form>
</p>

<a class="btn btn-outline-danger"
        asp-controller="Book"
        asp-action="Delete"
        asp-route-Id="@Model.Id">Удалить книгу</a>


@* <form>
    <input type="text" placeholder="@Model.Name" style="width:auto;" name="Name" />
    <input type="text" style="height:400px; width:800px; margin-inline:60px;" name="bookText" /><br />
    <input type="text" style="width:350px; height:200px;" name="Description" />
    <button class="btn btn-outline-success" type="submit" asp-controller="Book" asp-action="Save" asp-route-Id="@Model.Id"> Сохранить изменения </button>
</form> *@